html {
  --padding-sm: 0.5em;
  --padding-md: 1em;
  --padding-lg: 2em;
}

html[data-theme=blue] {
  --prm: #7d52ff;
  --prmDark: #4124cb;
  --prm900: #00003f;
  --prmLight: #b581ff;
  --textPrm: #ffffff;
  --textAlt: #000000;
}

html[data-theme=Light] {
  --theme-primary: #6200ee;
  --theme-on-primary: #ffffff;
  --theme-secondary: #03dac6;
  --theme-on-secondary: #000000;
  --theme-error: #b00020;
  --theme-on-error: #ffffff;
  --theme-surface: #ffffff;
  --theme-on-surface: #000000;
  --theme-background: #ffffff;
}

.container {
  padding: var(--padding-md) var(--padding-lg);
}

.layout-container button {
  border: none;
  border-radius: 2px;
  padding: 12px 18px;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  background-color: var(--theme-primary);
  -webkit-box-shadow: 0 0 4px var(--theme-secondary);
          box-shadow: 0 0 4px var(--theme-secondary);
  outline: none;
  -webkit-transition: -webkit-filter 0.75s, -webkit-box-shadow 0.5s;
  transition: -webkit-filter 0.75s, -webkit-box-shadow 0.5s;
  -o-transition: filter 0.75s, box-shadow 0.5s;
  transition: filter 0.75s, box-shadow 0.5s;
  transition: filter 0.75s, box-shadow 0.5s, -webkit-filter 0.75s, -webkit-box-shadow 0.5s;
}
.layout-container button:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
  -webkit-box-shadow: 0 0 4px 4px var(--theme-secondary);
          box-shadow: 0 0 4px 4px var(--theme-secondary);
}
.layout-container button:active {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}
.layout-container .menu-button {
  position: relative;
  background-color: var(--theme-primary);
  border: none;
  -webkit-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
}
.layout-container .menu-button:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}
.layout-container .menu-button:active {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}
.layout-container .menu-button span {
  text-align: center;
  height: 3px;
  width: 23px;
  display: inline-block;
  line-height: 0;
  position: relative;
  background: var(--theme-on-primary);
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.layout-container .menu-button span::before, .layout-container .menu-button span::after {
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  background: var(--theme-on-primary);
  content: "";
}
.layout-container .menu-button span::before {
  top: 7px;
}
.layout-container .menu-button span::after {
  top: -7px;
}

ul.menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.menu a {
  display: block;
  white-space: nowrap;
  padding: var(--padding-md) var(--padding-md);
  color: var(--theme-on-primary);
  text-decoration: none;
  font-size: 1.5em;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
}
ul.menu a:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}
ul.menu a:active {
  -webkit-filter: invert(20%);
          filter: invert(20%);
}

form {
  font-size: 1em;
}
form .form-item {
  position: relative;
}
form input {
  color: var(--theme-on-secondary);
  width: 100%;
  padding-top: 1em;
  padding-left: 0.4em;
  line-height: 2em;
  border: none;
  border-radius: 0 10px 0 0;
  border-bottom: 3px solid var(--theme-on-secondary);
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(var(--theme-error)), color-stop(50%, transparent), color-stop(50%, var(--theme-secondary)), to(transparent)) no-repeat 0 -50%;
  background: -webkit-linear-gradient(left, var(--theme-error), transparent 50%, var(--theme-secondary) 50%, transparent 100%) no-repeat 0 -50%;
  background: -o-linear-gradient(left, var(--theme-error), transparent 50%, var(--theme-secondary) 50%, transparent 100%) no-repeat 0 -50%;
  background: linear-gradient(to right, var(--theme-error), transparent 50%, var(--theme-secondary) 50%, transparent 100%) no-repeat 0 -50%;
  background-position-x: 165%;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-background-size: 200% 100%;
          background-size: 200% 100%;
}
form input:hover {
  background-position-x: 145%;
}
form input:focus-visible {
  outline: none;
  border-bottom: 3px solid var(--theme-primary);
  background-position-x: 100%;
}
form input::-webkit-input-placeholder {
  visibility: hidden;
  color: var(--theme-on-secondary);
}
form input::-moz-placeholder {
  visibility: hidden;
  color: var(--theme-on-secondary);
}
form input:-ms-input-placeholder {
  visibility: hidden;
  color: var(--theme-on-secondary);
}
form input::-ms-input-placeholder {
  visibility: hidden;
  color: var(--theme-on-secondary);
}
form input::placeholder {
  visibility: hidden;
  color: var(--theme-on-secondary);
}
form input:not(:-moz-placeholder-shown):invalid {
  border-bottom-color: var(--theme-error);
  background-image: linear-gradient(to right, var(--theme-error), transparent 65%);
  color: var(--theme-on-error);
  background-position-x: 0;
}
form input:not(:-ms-input-placeholder):invalid {
  border-bottom-color: var(--theme-error);
  background-image: linear-gradient(to right, var(--theme-error), transparent 65%);
  color: var(--theme-on-error);
  background-position-x: 0;
}
form input:not(:placeholder-shown):invalid {
  border-bottom-color: var(--theme-error);
  background-image: -webkit-gradient(linear, left top, right top, from(var(--theme-error)), color-stop(65%, transparent));
  background-image: -webkit-linear-gradient(left, var(--theme-error), transparent 65%);
  background-image: -o-linear-gradient(left, var(--theme-error), transparent 65%);
  background-image: linear-gradient(to right, var(--theme-error), transparent 65%);
  color: var(--theme-on-error);
  background-position-x: 0;
}
form input:not(:-moz-placeholder-shown):invalid ~ label {
  color: var(--theme-on-error);
}
form input:not(:-ms-input-placeholder):invalid ~ label {
  color: var(--theme-on-error);
}
form input:not(:placeholder-shown):invalid ~ label {
  color: var(--theme-on-error);
}
form input:invalid ~ .description {
  opacity: 1;
}
form input:not(:-moz-placeholder-shown) + label {
  opacity: 1;
  transform: scale(0.9) translateY(-75%);
}
form input:not(:-ms-input-placeholder) + label {
  opacity: 1;
  transform: scale(0.9) translateY(-75%);
}
form input:focus + label, form input:not(:placeholder-shown) + label {
  opacity: 1;
  -webkit-transform: scale(0.9) translateY(-75%);
       -o-transform: scale(0.9) translateY(-75%);
          transform: scale(0.9) translateY(-75%);
}
form label {
  position: absolute;
  line-height: 2em;
  padding-left: 0.4em;
  top: 1em;
  left: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: var(--text-color);
}
form label:hover {
  cursor: text;
}
form .description {
  color: var(--text-color);
  opacity: 0.5;
}

.dialog-off-canvas-main-canvas {
  min-height: calc(100% - 1px);
}

.layout-container {
  height: 100%;
  color: var(--theme-on-primary);
  text-shadow: var(--theme-secondary) 0 0 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  --site-navigation-height: 76px;
  --page-navigation-width: 200px;
}
.layout-container.no-page-nav {
  --page-navigation-width: 0;
}
.layout-container > header {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
.layout-container .layout-site-navigation {
  position: relative;
  z-index: 100;
  height: var(--site-navigation-height);
}
.layout-container .layout-page-navigation {
  background-color: var(--theme-secondary);
  color: var(--theme-on-secondary);
  grid-area: c;
  -webkit-transform-origin: 0 0;
       -o-transform-origin: 0 0;
          transform-origin: 0 0;
  width: var(--page-navigation-width);
  border-bottom-right-radius: 20px;
  overflow: hidden;
  z-index: 0;
}
.layout-container main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}
.layout-container .layout-content {
  min-height: 100%;
  background-color: var(--theme-surface);
  color: var(--theme-on-surface);
  -webkit-box-shadow: -6px 0px 10px -5px rgba(0, 0, 0, 0.33);
          box-shadow: -6px 0px 10px -5px rgba(0, 0, 0, 0.33);
  position: relative;
  z-index: 90;
  -webkit-transition: left 0.7s;
  -o-transition: left 0.7s;
  transition: left 0.7s;
  width: calc(100% - var(--page-navigation-width) - 10px);
}
.layout-container.page-nav-min {
  --page-navigation-width: 75px;
}
.layout-container.page-nav-min .layout-page-navigation {
  border-bottom-right-radius: 0;
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: var(--prmLight);
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h5 {
  margin: 0;
}

a {
  color: inherit;
}

.region-site-navigation {
  background: var(--theme-primary);
  -webkit-box-shadow: 0 -2px 20px -2px var(--theme-secondary);
          box-shadow: 0 -2px 20px -2px var(--theme-secondary);
  border-bottom-right-radius: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.region-site-navigation ul.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.region-site-navigation .menu--account {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin-left: auto;
}

.layout-page-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  -webkit-transition: all 0.75s;
  -o-transition: all 0.75s;
  transition: all 0.75s;
}
.layout-page-navigation .menu-button {
  width: var(--page-navigation-width);
  border-top-right-radius: 40px;
  padding: 28px 20px;
  margin-top: auto;
}
.layout-page-navigation li a svg {
  text-align: center;
  margin-right: auto;
  font-size: 1.75em;
  vertical-align: middle;
  -webkit-transform-origin: bottom;
       -o-transform-origin: bottom;
          transform-origin: bottom;
}
.layout-page-navigation li a svg path {
  -webkit-transition: stroke-dashoffset 1.5s cubic-bezier(0.39, -0.04, 0.37, 0.85);
  -o-transition: stroke-dashoffset 1.5s cubic-bezier(0.39, -0.04, 0.37, 0.85);
  transition: stroke-dashoffset 1.5s cubic-bezier(0.39, -0.04, 0.37, 0.85);
  stroke-dasharray: 2000;
  stroke-dashoffset: 2000;
  stroke: var(--theme-on-secondary);
  stroke-width: 20px;
  fill: currentColor;
}
.layout-page-navigation li a:hover svg path {
  stroke-dashoffset: 0;
}

.page-nav-min .layout-page-navigation li a {
  text-align: center;
  padding-right: 0;
  padding-left: 0;
}
.page-nav-min .layout-page-navigation li a span {
  display: none;
}
.page-nav-min .layout-page-navigation button {
  border-top-right-radius: 0;
}
.page-nav-min .layout-page-navigation button span {
  -webkit-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}