.dialog-off-canvas-main-canvas {
  min-height: calc(100% - 1px);
}

.layout-container {
  height: 100%;
  color: var(--theme-on-primary);
  text-shadow: var(--theme-secondary) 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
  --site-navigation-height: 76px;
  --page-navigation-width: 200px;
  &.no-page-nav {
    --page-navigation-width: 0;
  }
  & > header {
    flex: 0 1 auto;
  }
  .layout-site-navigation {
    position: relative;
    z-index: 100;
    height: var(--site-navigation-height);
  }
  .layout-page-navigation {
    background-color: var(--theme-secondary);
    color: var(--theme-on-secondary);
    grid-area: c;
    transform-origin: 0 0;
    width: var(--page-navigation-width);
    border-bottom-right-radius: 20px;
    overflow: hidden;
    z-index: 0;

  }
  main{
    flex: 1 1 auto;
    position: relative;
    display: flex;
    width: 100vw;
  }
  .layout-content {
    min-height: 100%;
    background-color: var(--theme-surface);
    color: var(--theme-on-surface);
    box-shadow: -6px 0px 10px -5px rgb(0 0 0 / 33%);
    position: relative;
    z-index: 90;
    transition: left 0.7s;
    width: calc(100% - var(--page-navigation-width) - 10px);
  }
  &.page-nav-min {
    --page-navigation-width: 75px;
    .layout-page-navigation {
      border-bottom-right-radius: 0;
    }
  }
}
