.region-site-navigation {
  background: var(--theme-primary);
  box-shadow: 0 -2px 20px -2px var(--theme-secondary);
  border-bottom-right-radius: 40px;
  display: flex;
  overflow: hidden;

  ul.menu{
    display: flex;
  }
  .menu--account {
    align-self: flex-end;
    margin-left: auto;
  }
}
