.cats-list {
  display: flex;
  column-gap: 2em;
  row-gap: 4em;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 4em;
  a {
    text-decoration: none;
  }
  .ajax-progress {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  //&:hover {
  //  .cat-block:not(:hover) {
  //    filter: grayscale(1);
  //    opacity: 0.5;
  //    &::after {
  //      background-color: rgba(#000, 0.5);
  //    }
  //  }
  //}
}
.cat-block {
  box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  background: var(--theme-surface);
//  transition: filter 0.4s ease-in-out, opacity 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 0;
  .cat-picture {
    width: 220px;
    height: 225px;
    flex: 0 0 auto;
    box-sizing: content-box;
    margin-bottom: 1em;
    img {
      background-color: var(--theme-secondary);
      height: 100%;
      width: 100%;
      padding-bottom: 5px;

      object-fit: contain;
      object-position: center;
    }
  }
  .cat-info {
    word-wrap: break-word;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: var(--theme-surface);
  }
  .cat-email {
    align-self: flex-start;
  }
  .cat-name {
    width: 100%;
    font-size: 2em;
  }
  .cat-created {
    text-align: right;
    align-self: flex-end;
    opacity: 0.5;
  }
  .administer-links {
    position: absolute;
    bottom: 0;
    z-index: -1;
    transition: bottom 0.2s ease-out;
    display: flex;
    width: 100%;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    .delete {
      &:hover {
        background: var(--theme-error);
      }
    }
    .edit {
      &:hover {
        background: var(--theme-primary);
      }
    }
    button {
      box-shadow: none;
      flex-basis: 50%;
      height: 50px;
      background: rgba(black, 0.4);
      border: none;
    }
  }
  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    overflow: initial;
    z-index: 3;
    .administer-links {
      bottom: -50px;
    }
  }
}

